<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="" class="navbar-brand">Aquarium App</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees Aquarium</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/createEmployee" class="nav-link">Add Employee Aquarium</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addAnimal" class="nav-link">Add Fish Aquarium</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a  routerLink="/viewAnimal" class="nav-link">View Fish Aquarium</a></li>

      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>

    </ul>
  </nav>

</header>
