<!--<p>Name: <b>{{animal.name.toUpperCase()}}</b>Species:  {{animal.species}} <button *ngIf="loginService.isUserLoggedIn()" (click)="delete()"> Delete </button></p>-->
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Sex</th>
      <th>Feature</th>
      <th>Extinction</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Life</th>
      <th>Regime Alim.</th>
      <th>Threat level</th>
      <th>Delete Fish</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td> <b>{{animal.name.toUpperCase()}}</b></td>
      <td> {{animal.species}}</td>
      <td> {{animal.sex}}</td>
      <td> {{animal.feature}}</td>
      <td> {{animal.extinction}}</td>
      <td> {{animal.arrivalDate}}</td>
      <td> {{animal.departureDate}}</td>
      <td> {{animal.lifeExpectancy}}</td>
      <td> {{animal.dietaryRegime}}</td>
      <td> {{animal.threatLevel}}</td>
      <td> <button class="btn btn-danger" *ngIf="loginService.isUserLoggedIn()" (click)="delete()"> Delete </button></td>
    </tr>
    </tbody>
  </table>
</div>
