<!--<form [formGroup]="addAnimalForm">

  <label>
    Add Name Animal (Fish):
    <input type="text" formControlName="name">
  </label>

  <label>
    Add Species:
    <input type="text" formControlName="species">
  </label>

  <button (click)="save($event)" [disabled]="!addAnimalForm.valid">Save</button>
</form>
-->

<div class="col-md-6">
  <h2 class="text-center">Add Fish Aquarium</h2>
  <form [formGroup]="addAnimalForm">
    <div class="form-group">
      <label>
        Add Name Animal (Fish):
        <input type="text" formControlName="name"  placeholder="Name Fish" name="name" class="form-control">
      </label>
    </div>

<!-- <div class="form-group">
      <label>
        Add Species:

        <input type="text" formControlName="species" placeholder="Species" name="species" class="form-control">
      </label>
    </div>

-->

    <div class="column small-12 large-2">
      <label class="sbw_light">Add Species: </label><br />
      <select formControlName="species">
        <option *ngFor="let type of speciesType"
        [value]="type">{{type}}
        </option>
      </select>
    </div>

    <div class="column small-12 large-2">
      <label class="sbw_light">Sex: </label><br />
      <select formControlName="sex">
        <option *ngFor="let type of sexType"
                [value]="type">{{type}}
        </option>
      </select>
    </div>
    <button class="btn btn-success" (click)="save($event)" [disabled]="!addAnimalForm.valid">Save</button>
  </form>
</div>
