<!--<form [formGroup]="addAnimalForm">

  <label>
    Add Name Animal (Fish):
    <input type="text" formControlName="name">
  </label>

  <label>
    Add Species:
    <input type="text" formControlName="species">
  </label>

  <button (click)="save($event)" [disabled]="!addAnimalForm.valid">Save</button>
</form>
-->

<div class="col-md-6">
  <h2>New Fish Aquarium</h2>
  <form [formGroup]="addAnimalForm">
    <div class="form-group">
      <label>
        Add Name Animal (Fish):
        <input type="text" formControlName="name"  placeholder="Name Fish" name="name" class="form-control">
      </label>
    </div>

<!-- <div class="form-group">
      <label>
        Add Species:

        <input type="text" formControlName="species" placeholder="Species" name="species" class="form-control">
      </label>
    </div>

-->

    <div class="column small-12 large-2">
      <label class="sbw_light">Add Species: </label><br />
      <select formControlName="species">
        <option *ngFor="let type of speciesType"
        [value]="type">{{type}}
        </option>
      </select>
    </div>

    <div class="column small-12 large-2">
      <label class="sbw_light">Sex: </label><br />
      <select formControlName="sex">
        <option *ngFor="let type of sexType"
                [value]="type">{{type}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>
       Feature:
        <input type="text" formControlName="feature"  placeholder="Feature Fish" name="feature" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>
        Extinction:
        <input type="checkbox" formControlName="extinction"  placeholder=" extinction Fish" name=" extinction" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>
        Arrival Date:
        <input type="date" formControlName="arrivalDate"  placeholder="arrivalDate" name="arrivalDate" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>
        Departure Date:
        <input type="date" formControlName="departureDate"  placeholder="departureDate" name="departureDate" class="form-control">
      </label>
    </div>

    <div class="column small-12 large-2">
      <label class="sbw_light">Life Expectancy: </label><br />
      <select formControlName="lifeExpectancy">
        <option *ngFor="let type of lifeType"
                [value]="type">{{type}}
        </option>
      </select>
    </div>

    <div class="column small-12 large-2">
      <label class="sbw_light">Dietary Regime: </label><br />
      <select formControlName="dietaryRegime">
        <option *ngFor="let type of foodType"
                [value]="type">{{type}}
        </option>
      </select>
    </div>

    <div class="column small-12 large-2">
      <label class="sbw_light"> Threat Level: </label><br />
      <select formControlName="threatLevel">
        <option *ngFor="let type of levelType"
                [value]="type">{{type}}
        </option>
      </select>
    </div>

    <button class="btn btn-success" (click)="save($event)" [disabled]="!addAnimalForm.valid">Save</button>
  </form>
</div>
